.content-container{
  margin:  auto ;
  
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text{
  width: 450px;
  height: 382px;
}


.landing-page-button{
  
  background-color: var(--color-text);
  width: 274px;
  height: 274px;
  border-radius: 50%;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.landing-page-button:hover{
  box-shadow: 0px 0px 0px 96.5px rgba(255, 255, 255, 0.1);
  
}