:root {
  /* - Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%) */
  --color-white: hsl(0, 0%, 98%);
  --color-gray: hsl(0, 0%, 41%);
  --color-black: hsl(0, 0%, 8%);
  --padding-left-right: 2rem;
  --footer-height: 3rem;
  --header-height: 5rem;
}
/*  General Designs  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  color: var(--color-gray);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
a,
button {
  cursor: pointer;
}
button {
  font-weight: 700;
  height: 3rem;
  padding: 0px 1.5rem;
  border-radius: 15px;
}
body {
  background-color: var(--color-white);
}

header {
  width: 100%;
  height: var(--header-height);
  padding: 2rem var(--padding-left-right) 1rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.navbar-user-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .navbar-user {
  flex-grow: 1;
  display: flex;
  align-items: center;
} */
.navbar .main-menu {
  margin-left: 4rem;
  display: flex;
  gap: 2rem;
  /* width: 100%; */
}
.main-menu > li {
  position: relative;
}
/* Dropdown Menus  */
.sub-menu {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  position: absolute;
  z-index: 1;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sub-menu img {
  width: 1rem;
  margin-right: 0.25rem;
}

.sub-menu li:hover {
  color: var(--color-black);
}
.sub-menu.features {
  width: 8rem;
  right: 0;
}
.sub-menu.company {
  width: 7rem;
  left: 0;
}

/* User Login Signup  */
.user-login {
  /* margin-left: auto; */
}

.btn-login {
  border: none;
  background-color: var(--color-white);
  margin-right: 3rem;
  height: 1rem;
  padding: 0;
  border-radius: 0px;
}

.btn-login:hover {
  color: var(--color-black);
}

.btn-register {
  border: 2px solid var(--color-gray);
  background-color: var(--color-white);
}

.btn-register:hover {
  border: 2px solid var(--color-black);
  color: var(--color-black);
}

/* Menu Icons  */
.close-menu {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
}

/* Content section */
.page-wrapper {
  padding: 2rem 10rem 6rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.text-content {
  padding-top: 5rem;
  width: 550px;
  position: relative;
}

h1,
h1 span {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-black);
}
h1 span {
  width: max-content;
  display: block;
}

p {
  max-width: 400px;
  line-height: 1.5rem;
  margin: 2rem 0;
}

.btn-black {
  color: var(--color-white);
  border: 2px solid var(--color-black);
  background-color: var(--color-black);
}

.btn-black:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.client-logos {
  position: absolute;
  bottom: 0rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.img-container img {
  width: 450px;
}

/* Given Styles */
.attribution {
  height: var(--footer-height);
  padding: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Overlay above body and below main menu */
.overlay {
  /* width: calc(100% - 12rem); */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}
.hidden {
  display: none;
}

@media (max-width: 1050px) {
  .navbar-user-wrapper {
    /* display: none; */
    width: 12rem;
    height: 100%;
    background-color: white;
    padding-top: 5rem;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 0.5rem;
    display: none;
  }
  .navbar {
    flex-grow: 1;
  }
  .navbar .main-menu {
    margin-left: 0;
    flex-direction: column;
    padding-left: 2rem;
  }
  .sub-menu {
    position: relative;
    top: 0rem;
  }
  .user-login {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .btn-login {
    margin-right: 0rem;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .menu-icon {
    display: block;
  }

  .page-wrapper {
    flex-direction: column;
    padding: 0;
    align-items: center;
    padding: 0px;
  }

  .img-container {
    order: 1;
    width: 100%;
  }

  .img-container img {
    display: block;
    content: url(images/image-hero-mobile.png);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .text-content {
    /* padding-top: 5rem;
    width: 550px;
    position: relative; */
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h1,
  h1 span {
    font-size: 3rem;
  }
  h1 span {
    display: inline;
  }
  .btn-black {
    margin-bottom: 100px;
  }
  .client-logos {
    width: 500px;
  }
  .active {
    display: flex;
  }
}
