body{
  background-image: url("/assets/crew/background-crew-desktop.jpg");
}
.container{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 163px  25px 200px;
}
.dist-title{
  margin-bottom: 60px;
}

.img-info-container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dest-image{
  /* margin-right: 50px; */
  display: flex;
  align-items: center;
  padding: 30px 150px 0px 0px;
}
.dest-nav-bar-info{
  max-width: 450px ;
  display: flex;
  flex-direction: column;
  
}
.dest-nav-bar{
  height: max-content;
  display: flex;
}
.sub-nav{
  justify-content: left;
  align-items: flex-start;
  margin: 0 0 40px;
  color: var(--color-title);
}
.sub-nav li{
  height: 34px;
}

li.active{
  color: var(--color-text);
  border-bottom: 3px solid var(--color-text);
}

p{
  display: flex ;
}
.divider{
  background-color: var(--color-title);
  height: 1px;
  margin: 54px 0 28px;
}
.dist-time-info{
  display: flex;
  justify-content: left;
}
.dist-time{
  margin-right: 80px;
}
