body {
  background-image: url(/assets/destination/background-destination-desktop.jpg);
}

.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.5rem 10rem 3rem;
}

.dist-title {
  margin-bottom: 3.5rem;
}

.img-info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 9rem;
}

.dest-image {
  margin-top: 1rem;
}


.dest-nav-bar-info {
  max-width: 450px;
  display: flex;
  flex-direction: column;

}

/* sub navbar  */
.dest-nav-bar {
  height: max-content;
  display: flex;
}

.sub-nav {
  display: flex;
  gap: 2.5rem;
  justify-content: left;
  align-items: flex-start;
  margin: 0 0 2rem;
  color: var(--color-blue);
}

.sub-nav li {
  height: 2rem;
}

.sub-nav li.active,
.sub-nav li:active {
  color: var(--color-white);
  border-bottom: 3px solid var(--color-white);
}

.sub-nav li:hover {
  border-bottom: 3px solid var(--color-white-transparent);
}

/* Text Section */
.divider {
  background-color: var(--color-blue);
  height: 1px;
  margin: 3rem 0 2rem;
}

.dist-time-info {
  display: flex;
  justify-content: left;
}

.dist-time {
  margin-right: 4.5rem;
}